<!-- Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header>
  <nav>
  <h6 id="logo"><a href="/guitars">Guitar Hero</a></h6>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="/guitars">Guitar</a></li>
    <li><a href="/singers">Hero</a></li>
    <li><a href="/contact">Contact us</a></li>
  </ul>
</nav>
</header>
