<!-- Left Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
  <div class="row">
  <div class="four columns">
    <p class="title"><strong>You</strong> may also like</p>
    <div class="fourPics">
      <div class="rowOnePics">
        <div class="small One"></div>
        <div class="small Two"></div>
        <div class="small Three"></div>
      </div>
      <div class="rowTwoPics"></div>
    </div>
    <hr>
    <p class="title"><strong>News</strong> from #metalitalia</p>
    <div class="fourPics" id="second">
      <div class="rowOnePics"id="rowOnePicsTwo"></div>
      <div class="rowOnePics"id="rowTwoPicsTwo"></div>
    </div>
    </div>
  </div>
</div>
