<div class="row mt-5">
    <div class="col d-flex justify-content-center animated flipInY">
        <bootstrap-card *ngIf="user">

            <ng-container class="aside">
                <img src="{{ user.avatar }}" class="card-img" alt="avatar">
            </ng-container>

            <ng-container class="section">
                <h5 class="card-title">{{ user.first_name }}</h5>
                <p class="card-text"><small class="text-muted">{{ user.email }}</small></p>
            </ng-container>

        </bootstrap-card>

    </div>
</div>

<div class="row mt-5 d-flex justify-content-center">
    <button (click)="navigateTo()" class="btn btn-primary">Users List</button>
</div>