
  <!--___________________ NOTE: Passing data with Subject ___________________-->

    <!-- <button type="button" (click)="todosIndex()">Click Me!</button> -->

<!--_________________________ NOTE: ngContent here _________________________-->
    <!-- <as2-checkbox>
        <div>this is custom footer</div>
    </as2-checkbox> -->


    <!-- <as2-checkbox>
    <h1>title</h1>
    <div>this is custom footer</div>
</as2-checkbox> -->

    <!-- <as2-checkbox>
        <div>You should only add credentials if you are already registered on the store</div>
    </as2-checkbox> -->
<!-- _______________________________________________________________________ -->


<div #container class="container"></div>


