@import "~variables.scss";

// STRETCH NAVBAR
.navbar-form .form-control {
  width: 30VW;
}

.navbar-brand{
  width: 3vw;
  position: relative;
  &.navbar-right{
    margin-left: 5%;
    margin-right: 3%;
  }
  img{
    max-width: 100%;
    @extend .centered-styles;
  }
}


// CHANGE COLOR LINK ON HOVER
.navbar-default{
  .navbar-nav{
    li{
      a{
        &:hover{
          background-color: $blue;
          color: #FFF;
        }
      }
    }
  }
}

// INFO WINDOW USER
.collapse{
  ul{
    &:nth-child(2){
      margin: 0% 2% 0% 3%;
      li{
        a.dropdown-toggle{
          &:hover{
            background-color: $grey;
          }
        }
        ul.dropdown-menu{
          width: 20vw;
          height: 20vh;
          padding: 50%;
          margin-top: 50%;
        }
      }
    }
  }
}


ul{
  li{
    svg{
      height: 25px;
      cursor: pointer;
    }
  }
}

#avatar{
  a{
    &:hover{
      background-color: #f9f9f9;
      cursor: default;
    }
    &.dropdown-toggle{
      background-color: #f9f9f9;
    }
  }
}
