@import "~variables.scss";

// STRETCH NAVBAR
.navbar-form .form-control {
  width: 30VW;
}

// CHANGE COLOR LINK ON HOVER
.navbar-default{
  .navbar-nav{
    li{
      a{
        &:hover{
          background-color: $blue;
          color: #FFF;
        }
      }
    }
  }
}
