<div class="showContainer">

  <div class="wrapper">

    <div ng-include="propertiesShow.curTemplate" class="cassandra" ></div>

<!-- __________________________________MSG1__________________________________ -->


    <script type="text/ng-template" id="msg1.html">
      <div class="container">

        <div class="header">{{ propertiesShow.property.name }}
          <div class="smaller">{{ propertiesShow.property.address }}</div>

          <a href="#" ng-click="propertiesShow.switch(1)">CLICK ME</a>
        </div>
      </div>
    </script>


<!-- __________________________________MSG2__________________________________ -->


    <script type="text/ng-template" id="msg2.html">

      <div class="container">

        <!-- DELETE -->
        <!-- <div class="circle2" ng-click="propertiesShow.delete()" ng-show="open" ng-mouseover="open = true">
        <p>x</p>
        </div> -->

        <div class="showImage" style="background-image: url('{{ propertiesShow.property.image }}')" ng-mouseover="open = true" ng-mouseleave="open = false"></div>
      </div>
      <a class="moreInfo" href="#" ng-click="propertiesShow.switch(2)">MORE INFO</a>
    </script>


<!-- __________________________________MSG3__________________________________ -->



    <script type="text/ng-template" id="msg3.html">
      <div class="container">

    <div class="details">
      <div class="detailsContainer">
        <p><span>Postcode</span>: {{ propertiesShow.property.postcode }}</p>
        <p><span>Bedrooms</span>: {{ propertiesShow.property.bedrooms }}</p>
        <p><span>Bathrooms</span>: {{ propertiesShow.property.bathrooms }}</p>
        <p><span>Price</span>: {{ propertiesShow.property.askingPrice }} per month</p>
        <p><span>Square meters</span>: {{ propertiesShow.property.floorArea }}</p>
        <p><span>Available starting from</span>: {{ propertiesShow.property.dateAvailable }}</p>
      </div>
    </div>

      </div>
      <a class="moreInfo" href="#" ng-click="propertiesShow.switch(0)">BACK</a>
    </script>

  </div>

</div>
