<div  class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main right-section-booty">

  <div class="jumbotron">
    <div class="container">
      <h1>Dossier Creato Correttamente!</h1>
    </div>
  </div>

  <div class="main-content">

    <div class="print-container">

      <div class="print-rows">
        <!-- <div class="center-the-div">
        <i class="fas fa-check-circle"></i>
        <p>Il Dossier è stato creato corretamente</p>
      </div> -->
    </div>




    <div class="print-rows">
      <div class="center-the-div">
        <h4>Nome</h4>
        <p>ISPEZIONE SU 03069 - INTESA SAN PAOLO S.P.A.</p>
      </div>
    </div>




    <div class="print-rows">

      <div class="center-results">
        <div>
          <h4>Capogruppo</h4>
          <p>GIUSEPPE OCCHIUZZI</p>
        </div>

      </div>

      <div class="center-results">
        <div>
          <h4>Data inizio ispezione</h4>
          <p>14/03/2018</p>
        </div>

      </div>

      <div class="center-results">
        <div>
          <h4>Data fine ispezione</h4>
          <p>13/04/2018</p>
        </div>

      </div>

    </div>




    <div class="print-rows">

      <div class="center-results">
        <div id="print">
          <h4><p>Altri membri del team</p></h4>
          <ul>
            <!-- Il loop si aggancia sulla li -->
            <li>MICHELE MARRA</li>

            <li>MICHELE MARRA</li>
            <li>MICHELE MARRA</li>
            <li>MICHELE MARRA</li>
            <li>MICHELE MARRA</li>
            <li>MICHELE MARRA</li>
            <li>MICHELE MARRA</li>

          </ul>
        </div>
      </div>

      <div class="center-results">
        <div>
          <h4>Tipo</h4>
          <p>SPETTRO ESTESO</p>
        </div>

      </div>

      <div class="center-results">
        <div>
          <h4>Riservatissimo</h4>
          <p>Si</p>
        </div>

      </div>

    </div>

    <div class="print-rows">
      <div class="wanda"></div>
      <div class="wanda">
        <div class="button-review">
          <div class="starter-button">
            <p>Vai al Dossier</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



</div>
