<div  class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main right-section-booty">

  <div class="jumbotron">
    <div class="container">
      <i class="fas fa-check-circle"></i>
      <h1>Dossier Creato Correttamente</h1>
    </div>
  </div>

  <div class="main-content">

    <div class="print-rows">
      <div class="wrappers">
        <div class="wanda"></div>
      </div>

      <div class="wrappers">
        <div class="wanda"></div>
      </div>

      <div class="wrappers">
        <div class="wanda">
          <label>Nome</label>
          <p>ISPEZIONE SU 03069 - INTESA SAN PAOLO S.P.A.</p>
        </div>
      </div>

    </div>


    <div class="print-rows">

      <div class="wrappers">
        <div class="wanda">
          <label>Capogruppo</label>
          <p>GIUSEPPE OCCHIUZZI</p>
        </div>
      </div>

      <div class="wrappers">
        <div class="wanda">
          <label>Data inizio ispezione</label>
          <p>14/03/2018</p>
        </div>

      </div>
      <div class="wrappers">
        <div class="wanda">
          <label>Data fine ispezione</label>
          <p>13/04/2018</p>
        </div>

      </div>
    </div>

    <div class="print-rows">

      <div class="wrappers">
        <div class="wanda">
          <label>Tipo</label>
          <p>SPETTRO ESTESO</p>
        </div>
      </div>

      <div class="wrappers">
        <div class="wanda">
          <label>Riservatissimo</label>
          <p>Si</p>
        </div>
      </div>

      <div class="wrappers">
        <div class="lastone">
          <div>
            <label>Membri Team</label>
          </div>
          <div>
            <ul>
              <li>MICHELE MARRA</li>
              <li>MICHELE MARRA</li>
              <li>MICHELE MARRA</li>
              <li>MICHELE MARRA</li>
              <li>MICHELE MARRA</li>
              <li>MICHELE MARRA</li>
            </ul>
          </div>
        </div>
      </div>


    </div>

    <div class="print-rows">
      <div class="wrappers">
        <div class="wanda">
          <div class="button-review">
            <div class="starter-button">
              <p>Vai al Dossier</p>
            </div>
          </div>
        </div>

      </div>

      <div class="wrappers">
        <div class="wanda"></div>
      </div>


      <div class="wrappers">
        <div></div>
      </div>
      
    </div>

  </div>
</div>
