@import "~variables.scss";
@import "~corpo_aside.scss";
@import "~landing_stampa.scss";


h1{
  display: inline-block;
  @media only screen and (max-width: 1240px) {
    font-size: 40px !important
  }

  @media only screen and (max-width: 9600px) {
    font-size: 30px !important
  }
}

.fa-check-circle{
  color: #fff;
  font-size: 50px;
  padding-right: 3%;

  @media only screen and (max-width: 960px) {
    font-size: 30px !important
  }
}

.main-content{
  padding: 0 0 5% 5%;
  .print-rows{
    height: 25%;
    .wrappers{
      width: 33.33%;
      height: 100%;
      float: right;
      position: relative;
      div{
        &.wanda{
          @extend .centered-styles;
          width: 100%
        }
        &.lastone{
          height: 100%;
          div{
            height: 50%;
            &:first-child{
              position: relative;
              label{
                @extend .centered-styles;
                top: 60%;
                width: 100%;
              }
            }
            &:last-child{
              overflow: auto;
              @extend .centered-styles;
              width: 100%;
              top: 70%;
              ul{
                list-style: none;
              }
            }
          }
        }
        label{
          color: $darkBlue;
        }
        p{
          color: $blue;
        }
      }
    }
  }
}

.starter-button{
  p{
    color: #fff !important;
  }
}
