@import "~variables.scss";
@import "~corpo_aside.scss";
@import "~landing_stampa.scss";

.main-content{
  padding: 0 5% 0 5%;
}

h1{
  display: inline-block;
  @media only screen and (max-width: 1240px) {
    font-size: 40px !important
  }
}

.fa-check-circle{
  color: #fff;
  font-size: 50px;
  padding-right: 3%;

  @media only screen and (max-width: 960px) {
    font-size: 30px !important
  }
}

.print-container{
  height: 100%;
}

.print-rows{
  height: 10%;
  position: relative;
}

.print-rows:nth-child(4){
  height: 40%;
}

.print-rows h4{
  color: #0067AD;
}

.print-rows p{
  color: rgb(0, 49, 103);
}


.print-rows div{
  width: 100%;
}
.print-rows div.center-the-div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.print-rows:nth-child(3) div.center-results{
float: left;
height: 100%;
width: 33.33%;
position: relative;
}

.print-rows:nth-child(3) div.center-results div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.print-rows:nth-child(4) div.center-results div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.print-rows:nth-child(4) div.center-results{
  float: left;
  height: 100%;
  width: 33.33%;
  position: relative;
}

#print{
  height: 100%;
}

#print h4{
  height: 50%;
  /* background-color: grey; */
}

#print ul{
  height: 50%;
  overflow: auto;
  /* background-color: pink; */
}

#print ul li{
  list-style-type: none;
}


#print h4{
  position: relative;
}

#print h4 p{
  position: absolute;
  top: 91%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #0067AD;
}



.print-rows .wanda{
  width: 50%;
  height: 100%;
  /* background-color: red; */
  float: left;
  position: relative;
}

.print-rows .wanda .button-review{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 60px;
}

.print-rows .wanda .button-review .starter-button p{
  line-height: 60px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
