@mixin tf {
  transition: all 0.4s, opacity 0.3s ease-in;
}
@mixin d {
  animation: drop 2.5s infinite;
}
// ___________________________________HEADER___________________________________
#containerAbout{
  max-width: 960px;
  margin: auto;
  margin-top: 2%;
  animation: fadein 2s;
  @media only screen and (max-width: 960px){
    margin-top: 0;
  }
  @keyframes fadein {
    from {
      opacity:0;
    }
    to {
      opacity:1;
    }
  }
}

#header{
  height: 600px;
}
#diconodime{
  height: 60%;
  background-color: silver;
  background-image: url('/src/images/mori.jpg');
  background-position: bottom;
  background-size: cover;
}
// #pirla{
//   border-radius: 100%;
//   border: 2px solid silver;
//   background-image: url('/src/images/mee.png');
//   background-position: center;
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-color: white;
//   display: none;
// }
#personal-brand{
  height: 50%;
  position: relative;
  .loading{
    border-bottom: none;
    font-size: 24px;
    text-align: center;
    @extend .center-styles;
    top: 10%;
    > span {
      @include tf;
      @for $i from 0 through 15 {
        &:nth-child(#{$i}) {
          @include d;
          animation-delay: $i * 0.0925s;
        }
      }
    }
    @keyframes drop {
      0% {
        transform: translate3d(0px, -125px, 50px);
      }
      75% {
        opacity: 0;
      }
      100% {
        opacity: 0;
        transform: rotate(195deg);
      }
    }
  }
  div{
    &:last-child{
      // background-color: pink;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      text-align: center;
      p{
        line-height: 25px;
        &:nth-child(1){
          font-size: 18px;
          margin-top: 1%;
        }
        &:nth-child(2){
          font-size: 16px;
          margin-bottom: 3%;
        }
        &#kinda{
          font-size: 16px;
          font-style: italic;
          margin-top: 3%;
        }
      }
    }
  }
}
.personalSummary{
  height: 200px;
  background-color: #E6E6E6;
  position: relative;
  p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    line-height: 25px;
    font-size: 16px;
    font-style: italic;
    color: black;
    padding: 3%;
  }
}

// _________________________________EXPERIENCE_________________________________

section.sectioncontainer{
  height: 800px;
  line-height: 25px;
  margin-top: 3%;
  p.title{
    font-size: 24px;
    color: black;
  }
  &#education{
    height: 700px;
  }
  &#languages{
    height: 230px;
  }
  @media only screen and (max-width: 960px){
    padding: 3%;
  }
  .subsectioncontainer{
    height: 33.33%;
    &#lingua{
      height: 100%;
    }
    &:last-child > :last-child{
      border-bottom: none;
    }
    .left{
      width: 20%;
      height: 100%;
      @extend .left-styles;
      .logo{
        @extend .logo-styles;
        &#ga{
          background-image: url('/src/images/ga.png');
          background-repeat: no-repeat;
          background-size: contain;
        }
        &#quadro{
          background-image: url('/src/images/quadro.png');
          @extend .logoshadow-styles;
        }
        &#legal{
          background-image: url('/src/images/stb.png');
          @extend .logoshadow-styles;
        }
        &#ux{
          background-image: url('/src/images/ga.png');
          background-repeat: no-repeat;
          background-size: contain;
        }
        &#parma{
          background-image: url('/src/images/parma.jpg');
          @extend .logoshadow-styles;
        }
        &#roma{
          background-image: url('/src/images/tre.jpg');
          @extend .logoshadow-styles;
        }
        &#tongue{
          background-image: url('/src/images/tongue.jpg');
          @extend .logoshadow-styles;
        }
      }
    }
    .right{
      height: 100%;
      width: 80%;
      float: right;
      padding: 1%;
      border-bottom: 1px solid black;
      @media only screen and (max-width: 960px){
        &#postit{
          height: 250px;
        }
      }
      p{
        margin-top: 1%;
      }
      span{
        &:nth-child(1){
          font-size: 18px;
          font-weight: bold;
          color: black;
        }
        &:nth-child(3){
          font-size: 18px;
          // color: red;
        }
        &:nth-child(5){
          font-size: 16px;
          // color: white;
        }
      }
    }
  }
}

// ___________________________________SKILLS___________________________________
.skills{
  padding: 3%;
  width: 100%;
  height: 35%;
  margin: auto;
  margin-bottom: 3%;
  line-height: 25px;
  cursor: pointer;
  p{
    font-size: 24px;
    color: black;
  }
  .progress-bar {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 1.4rem;
    display: block;
    margin-top: 2%;
    background: rgba(0,0,0,0.1);
    .progress-bar__slide {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      display: block;
      background: repeating-linear-gradient(to right, rgba(0, 176, 207, 1), rgba(0, 176, 207, 0.2));
      width: 2px;
      -webkit-transition: 2s cubic-bezier(.57, .12, .35, 1.2);
      -o-transition: 2s cubic-bezier(.57, .12, .35, 1.2);
      -ms-transition: 2s cubic-bezier(.57, .12, .35, 1.2);
    }
    .progress-bar__percent {
      z-index: 500;
      display: block;
      padding: 0 10px;
      font-family: 'verdana';
      font-size: 12px;
      text-align: center;
      line-height: 1.4rem;
      color: white;
      position: absolute;
    }
  }
}

// ____________________________MEDIA QUERY_____________________________________

// 640PX
@media only screen and (max-width: 640px) {
  #containerAbout{
    margin-top: 0;
  }
  #diconodime{
    height: 55%;
    background-color: #FFF;
    background-image: url('/src/images/pirlapiccolo.jpg');
    background-position: center;
    background-size: cover;
    border-bottom: none;
  }
  // #pirla{
  //   display: block;
  //   position: absolute;
  //   width: 115px;
  //   height: 115px;
  //   left: calc(56% - 80px);
  //   top: calc(50% - 110px);
  //   z-index: 1;
  // }
  #personal-brand{
    height: 45%;
    .loading{
      font-size: 20px;
      top: 20%;
      left: 48%;
    }
    div{
      &:last-child{
        top: 55%;
        P{
          &:nth-child(1){
            font-size: 14px;
            margin-top: 4%;
          }
          &:nth-child(2){
            font-size: 14px;
          }
          &#kinda{
            font-size: 12px;
          }
        }
      }
    }
  }
  .personalSummary{
    height: 260px;
    p{
      font-size: 12px;
      line-height: 20px;
    }
  }
  section.sectioncontainer{
    padding: 3%;
    .subsectioncontainer{
      height: 41%;
      .left{
        display: none;
      }
      .right{
        width: 100%;
        font-size: 15px;
        &#postit{
          height: 360px;
        }
        &#parmalat{
          height: 200px;
        }
        &#tre{
          height: 200px;
          border-bottom: 1px solid black;
        }
        &#ln{
          height: 250px;
        }
        p{
          margin-top: 3%;
        }
        span{
          &:nth-child(1){
            font-size: 18px;
          }
        }
      }
    }
  }
}

// 320px
@media only screen and (max-width: 320px) {
  #pirla{
    top: 150px;
    top: calc(64% - 72px);
    width: 110px;
    height: 110px;
  }
  #personal-brand{
    .loading{
      font-size: 18px;
      div{
        &:last-child{
          top: 70%;
          P{
            &:nth-child(1){
              font-size: 14px;
              margin-top: 4%;
            }
            &:nth-child(2){
              font-size: 14px;
            }
            &#kinda{
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .personalSummary{
    height: 260px;
    p{
      font-size: 12px;
      line-height: 20px;
    }
  }
  section.sectioncontainer{
    .subsectioncontainer{
      height: 42%;
    }
  }
}
