#porfolioContainer{
  animation: fadein 2s;
  @keyframes fadein {
    from {
      opacity:0;
    }
    to {
      opacity:1;
    }
  }
  height: auto;
  margin: auto;
  padding: 3%;
  // @media only screen and (max-width: 960px){
  //   padding: 1%;
  // }
  .projectContainer{
    // height: 28%;
    height: 95vh;
    padding: 4%;
    // @media only screen and (max-width: 960px){
    //   height: 50vh;
    //   padding: 2%;
    //   margin-bottom: 20%;
    //   &#firstproject{
    //     margin-top: 12%;
    //   }
    // }
    .project-left{
      width: 35%;
      height: 100%;
      float: left;
      padding-right: 10%;
      // background-color: grey;
      // @media only screen and (max-width: 960px){
      //   padding-right: 5%;
      // }
      div{
        &:nth-of-type(1){
          width: 100%;
          height: 50%;
          // background-color: blue;
          &.toolong{
            overflow: auto;
          }
          p{
            color: #232a2f;
            &:nth-child(1){
              font-size: 3.025em;
              // border-bottom: 1px solid white;
              margin-bottom: 5%;
              &#dumbtitle{
                font-size: 2.6em;
              }
              // @media only screen and (max-width: 960px){
              //   font-size: 2.05em;
              // }
            }
            &:last-child{
              font-family: 'Lora', serif;
              font-size: 14px;
              line-height: 2em;
              margin-top: 10%;
              color: black;
              // @media only screen and (max-width: 320px) {
              // font-size: 12px;
              // }
            }
          }
        }
        &:nth-of-type(2){
          height: 25%;
        }
        &:nth-of-type(3){
          height: 25%;
          a{
            text-decoration: none;
          }
          .myButt{
            outline:none;
            border:none;
            padding: 35px;
            display: block;
            margin: 50px auto;
            cursor: pointer;
            font-size: 14px;
            background-color: transparent;
            position: relative;
            border: 1px solid #000000;
            width: 100%;
            // @media only screen and (max-width: 320px) {
            //   padding: 22px;
            // }
            @include transition(all 0.5s ease);
          }
          .one{
            border-color: #000000;
            overflow:hidden;
            color: #000000;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px;

            .insider{
              background-color: #FFF;
              width: 100%;
              height: 20px;
              position: absolute;
              left: -240px;
              @include transform(rotateZ(45deg));
            }

            &:hover{
              background-color: $quadro;
              border-color: #FFF;
              color: #FFF;
              .insider {
                @include transition(all 0.3s ease);
                left:240px;
              }
            }
          }
        }
      }
    }
    .project-right{
      width: 65%;
      height: 100%;
      background-color: black;
      background-image: url('/src/images/deck.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      float: right;
      &#dog{
        background-image: url('/src/images/dog.jpg');
        background-size: cover;
      }
      &#speak{
        background-image: url('/src/images/speak.jpg');
        background-size: cover;
      }
      &#dumb{
        background-image: url('/src/images/dumb.jpg');
        background-size: contain;
      }
      &#dark{
        background-image: url('/src/images/dark.png');
        background-size: cover;
      }
      &#itunes{
        background-image: url('/src/images/itunes.jpg');
        background-size: cover;
      }
      &#house{
        background-image: url('/src/images/house.jpg');
        background-size: cover;
      }
    }
  }
}

// MEDIA QUERY 640PX
@media only screen and (max-width: 640px) {
  #porfolioContainer{
    .projectContainer{
      display: flex;
      flex-flow: column;
      padding: 0;
      margin-bottom: 25%;
      &#firstproject{
        margin-top: 20%;
      }
      .project-right{
        order: 1;
      }
      .project-left{
        order: 2;
      }
      .project-left{
        width: 100%;
        height: 60%;
        padding: 0;
        text-align: justify;
        div{
          &:nth-of-type(1){
            height: 75%;
            margin-top: 10%;
            padding: 1%;
            p{
              &:nth-child(1){
                font-size: 2em;
                text-align: left;
                color: $quadro
              }
              &:last-child{
                padding: 2%;
                margin-top: 2%;
              }
            }
          }
          &:nth-of-type(2){
            display: none;
          }
          &:nth-of-type(3){
            .myButt{
              margin-top: 5%;
              padding: 28px;
            }
          }
        }
      }
      .project-right{
        width: 100%;
        height: 40%;
      }
    }
  }
}
