*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div#container{
  height: 300px;
  width: 100%;
  position: fixed;
  top: calc(50% - 100px);
  z-index: 1;
  background-color: grey;
    .circleContainer{
      height: 200px;
      background-color: pink;
      div.circle{
        width: 100px;
        height: 100px;
        border-radius: 100px;
        position: fixed;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        -webkit-transition: all .5s linear;
        cursor: pointer;
        &#black{
          background-color: black;
          z-index: 6;
        }
        &#grey{
          background-color: grey;
          z-index: 4;
        }
        &#silver{
          background-color: silver;
          z-index: 2;
        }
        &.active{
            &#black{
              background-color: grey;
            }
            &#grey{
              left: calc(25% - 50px);
              background-color: black;
            }
            &#silver{
              left: calc(75% - 50px);
            }
        }
    }
  }
  span{
    position: fixed;
    left: calc(50% - 50px);
    text-align: center;
    &#span1{
      left: calc(25% - 50px);
    }
    &#span2{
      left: calc(50% - 50px);
    }
    &#span3{
      left: calc(75% - 50px);
    }
  }
}

.hidden{
  display: none;
}


.heart {
  animation: HEARTBEAT 1s;
  animation-iteration-count: 60;

}

@keyframes HEARTBEAT {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.3);
  }
  10% {
    transform: scale(1.1);
  }
  15% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}


.hidden {
  display: none;
  visibility: hidden;
}

span{
  width: 100px;
  text-align: center;
  // background-color: pink;
}
#span1 {
  position: absolute;
  top: 60vh;
  left: 21.5vw;
  text-align: center;
}
#span2 {
  position: absolute;
  top: 60vh;
  left: 44vw;
  text-align: center;
  // left: calc(25vw - 50px);
}
#span3 {
  position: absolute;
  top: 60vh;
  left: 66.5vw;
  text-align: center;
  // left: calc(65.5vw - 100px);
}






// .circle#grey:after {
// content: 'Portfolio';
// position: absolute;
// bottom: -20px;
// left: 50%;
// transform: translate(-50%);
// }
