*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  height: 100vh;
  background-color: white;
  z-index: 1;
    .menu{
      z-index: 1;
      div.circle{
        position: fixed;
        border-radius: 100px;
        height: 75px;
        width: 75px;
        top: calc(50vh - 50px);
        left: calc(50vw - 50px);
        -webkit-transition: all .5s linear;
        cursor: pointer;
        &:nth-child(1){
          background-color: black;
          z-index: 6;
          position: relative;
        }
        &:nth-child(2){
          background-color: grey;
          z-index: 4;
        }
        &:nth-child(3){
          background-color: silver;
          z-index: 2;
        }
    }
    &.active{
      div.circle{
        &:nth-child(1){
          background-color: grey;
        }
        &:nth-child(2){
          left: 25vw;
          background-color: black;
        }
        &:nth-child(3){
          left: calc(75vw - 75px);
        }
      }
    }
  }
}

.heart {
  animation: HEARTBEAT 1s;
  animation-iteration-count: 60;

}

@keyframes HEARTBEAT {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.3);
  }
  10% {
    transform: scale(1.1);
  }
  15% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}


.hidden {
  display: none;
  visibility: hidden;
}

span{
  width: 100px;
  text-align: center;
}
#span1 {
  position: absolute;
  top: 60vh;
  left: 25vw;
}
#span2 {
  position: absolute;
  top: 60vh;
  left: calc(50vw - 50px);
}
#span3 {
  position: absolute;
  top: 60vh;
  left: calc(75vw - 100px);
}






// .circle#grey:after {
// content: 'Portfolio';
// position: absolute;
// bottom: -20px;
// left: 50%;
// transform: translate(-50%);
// }
