<h1>Welcome</h1>
<button type="button" name="button">
  <a href="/image-upload">
    Upload
  </a>
</button>
<% users.forEach((user) => { %>
  <h1><%= user.username %></h1>
  <h2><%= user.email %></h2>
  <p><%= user.password %></p>
<% }) %>
