*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

// ________________________________EXTEND STYLE________________________________

.center-styles{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container{
  padding: 7%;
}
nav{
  height: 70px;
  // background-color: aqua;
  div{
    &:nth-child(1){
      width: 30%;
      height: 100%;
      // background-color: red;
      float: left;
      position: relative;
      input{
        @extend .center-styles;
        width: 100%;
        height: 70%;
        border-radius: 100px;
        text-align: center;
      }
    }
    &:nth-child(2){
      width: 60%;
      height: 100%;
      // background-color: green;
      float: left;
      position: relative;
      h4{
        position: absolute;
        top: 50%;
        left: 80%;
        transform: translate(0%, -50%);
        color: #0099CC
      }
    }
    &:nth-child(3){
      width: 10%;
      height: 100%;
      background-image: url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      float: right;
    }
  }
}
main{
  height: 70vh;
  // background-color: silver;
  #left{
    width: 25%;
    height: 96%;
    margin-top: 2%;
    // background-color: grey;
    float: left;
    border: 2px solid #999999;
    ul{
      height: 100%;
      li{
        list-style: none;
        position: relative;
        height: 16.8%;
        border-bottom: 1px solid #999999;
        &:last-child{
          border-bottom: none;
        }
        p{
          @extend .center-styles;
          font-weight: bold;
        }
      }
    }
  }
  #right{
    width: 75%;
    height: 100%;
    // background-color: pink;
    float: right;
    .top{
      height: 60%;
      // background-color: brown;
      #one{
        height: 75%;
        // background-color: yellow;
        padding: 3%;
        .iconPic{
          height: 120px;
          width: 120px;
          border-radius: 15px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        p{
          border-left: 4px solid #0099CC;
          font-size: 22px;
          margin-top: 5%;
          padding-left: 1%;
          &:last-child{
            border-left: none;
            margin-top: 3%;
            font-style: italic;
          }
        }
      }
      #two{
        height: 25%;
        // background-color: blue;
      }
    }
    .bottom{
      height: 40%;
      // background-color: purple;
      border: 1px solid #999999;
      width: 95%;
      margin: auto;
      p{
        border-bottom: 1px solid grey;
        font-size: 16px;
        height: 20%;
        padding-left: 2%;
        &:first-child{
          font-weight: bold;
          font-size: larger;
          color: #0099CC
        }
      }
      .likes{
        width: 60%;
        height: 100%;
        float: left;
        border-right: 1px solid silver;
        // background-color: red;
      }
      .dislikes{
        width: 40%;
        height: 100%;
        float: right;
        // background-color: green;
      }
    }
  }
  /* Odd/Even */
  .even {
    background: #f4f4f4;
  }

  .odd {
    background: #cccccc;
  }
}
