<form method="POST" action="/image-upload" enctype="multipart/form-data">

  <label for="caption">Caption</label>
  <input type="text" name="caption">

  <label for="image">upload image</label>
  <input type="file" id="image" name="image">

  <button>Upload</button>
</form>
