<!-- <div class="boxes">
  <input type="checkbox" id="box-1">
  <label for="box-1">Sustainable typewriter cronut</label>
</div> -->

<!--
<div class="heading">
    <ng-content select="h1"></ng-content>
</div>
<div class="body">
    <ng-content select="div"></ng-content>
</div>
<div class="footer">
    <ng-content></ng-content>
</div> -->


<!-- <h1>Title</h1>
<p>Some body to love</p>
<div class="footer">
    <ng-content></ng-content>
</div> -->



<div class="warning-msg">
  <div class="top">
    <i class="fas fa-exclamation-triangle"></i>
  </div>
  <div class="bottom">
      <p>
          <ng-content></ng-content>
      </p>
  </div>
</div>
