@import "~variables.scss";
@import "~corpo_aside.scss";
@import "~landing_stampa.scss";


td{
  border-right: 1px solid black;
  position: relative;
  p, .far{
    @extend .centered-styles;
  }
  .results-name{
    height: 100px;
    div{
      &:first-child{
        height: 100%;
        width: 10%;
        float: left;
        position: relative;
      }
      &:last-child{
        height: 100%;
        width: 90%;
        float: right;
        .top{
          height: 50%;
          width: 100%;
          border-bottom: 1px solid silver;
        }
        .bottom{
          position: relative;
          height: 50%;
          width: 100%;
        }
      }
    }
  }
}
