<div  class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main right-section-booty">
  <div class="jumbotron">
    <div class="container">
      <h1>Lista Dossier</h1>
    </div>
  </div>


  <div class="main-content">

    <!-- <p id="no-dossier">
      <i class="fas fa-exclamation-circle"></i>
      Nessun Dossier Soddisfa i Filtri
    </p>

    <a [routerLink]="['/opzioni']">
      <div class="starter-button">
        <p>Nuovo Dossier</p>
      </div>
    </a> -->

    <div class="container results">
      <div class="box">
        <div class="box-header">

        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>

              <tr>
                <th>Nome Intermediario</th>
                <th>Nome Capogruppo</th>
                <th>Stato Lavorazione</th>
                <th>Azioni</th>
              </tr>

              <tr>
                <td>
                  <div class="results-name">

                    <div>
                      <i class="far fa-star"></i>
                    </div>

                    <a [routerLink]="['/informazioni']"><div>
                      <div class="top">
                        <p>INSTESA SAN PAOLO</p>
                      </div>
                      <div class="bottom">
                        <p>4 Mag 2017 - in corso</p>
                      </div>
                    </div></a>

                  </div>
                </td>
                <td>
                  <div class="results-name">
                    <p>Giuseppe Occhio</p>
                  </div>
                </td>
                <td>
                  <div class="results-name" id="segments">
                    <div class="all-status">
                      <div class="status-single"></div>
                      <div class="status-single"></div>
                      <div class="status-single"></div>
                      <div class="status-single"></div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="results-name">
                    <button class="btn-sm btn-primary  btn-block"><span class="glyphicon glyphicon-eye-open"></span> Revisione</button>
                  </div>
                </td>
              </tr>






            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>



  </div>


</div>
