<div  class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main right-section-booty">

  <div class="jumbotron informazioni">
    <div class="container">

      <div class="results-name">

        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>

      </div>

    </div>
  </div>


<div class="main-content">
  <app-tabset-basic></app-tabset-basic>


</div>

</div>


<!-- <div>
  <i class="far fa-star"></i>
</div>

<div>
  <div class="top">
    <p>INSTESA SAN PAOLO</p>
  </div>
  <div class="bottom">
    <p>4 Mag 2017 - in corso</p>
  </div>
</div> -->
