<form method="POST" action="/register">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
  </div>
  <button class="button">Register</button>
</form>
<h3>OR use facebook</h3>
<button type="button" name="button"><a <a href="<%= oauth.facebook.getLoginURL() %>" target="_blank" class="btn btn-primary">Sign in with facebook</a></button>
