<!DOCTYPE html>
<html ng-app="propertyApp">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>Angular Stack Setup</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>


  
  <body ng-controller="MainCtrl as main" ng-class="main.pageName">
  <header>

<!--________________________________ navbar ________________________________-->

  <nav>
    <div class="oneThird">
      <!-- <h2>Bo$$ Playa</h2> -->
    </div>
    <ul id="nav">
      <li><a ui-sref="#"></a>Blog</li>
      <li><a ui-sref="#"></a>Contact Us</li>
      <li><a ui-sref="#"></a>Properties</li>
      <li><a ui-sref="#">New</a></li>
      <li><a ui-sref="home">Home</a></li>
    </ul>
  </nav>

<!-- _________________________________form_________________________________ -->

<form name="main.myForm"  ng-submit="main.create(main.myForm)" novalidate>

  <div>
    <input id="address" type="text" name="address" placeholder="address" ng-model="main.newProperty.address" ng-minlength="5" required />
  </div>
  <!-- error message! -->
  <div class="error" ng-messages="main.myForm.address.$error" ng-if="(main.submitted || main.myForm.address.$touched || main.myForm.address.$dirty)">
    <div ng-message="required">You did not enter a field</div>
    <div ng-message="minlength">Your field is too short</div>
  </div>
<!-- ______________________________________________________________________ -->
  <div>
    <input id="postcode" type="text" name="postcode" placeholder="postcode" ng-model="main.newProperty.postcode" ng-minlength="7" required />
  </div>
  <!-- error message! -->
  <div class="error" ng-messages="main.myForm.postcode.$error" ng-if="(main.submitted || main.myForm.postcode.$touched || main.myForm.postcode.$dirty)">
    <div ng-message="required">You did not enter a field</div>
    <div ng-message="minlength">Your field is too short</div>
  </div>
<!-- ______________________________________________________________________ -->
  <div>
    <input id="bedrooms" type="text" name="bedrooms" placeholder="bedrooms" ng-model="main.newProperty.bedrooms" ng-minlength="1" required />
  </div>
  <!-- error message! -->
  <div class="error" ng-messages="main.myForm.bedrooms.$error" ng-if="(main.submitted || main.myForm.bedrooms.$touched || main.myForm.bedrooms.$dirty)">
    <div ng-message="required">Add at least 1 bedroom</div>
    <div ng-message="minlength">Your field is too short</div>
  </div>
<!-- ______________________________________________________________________ -->
  <div>
    <input id="bathrooms" type="text" name="bathrooms" placeholder="bathrooms" ng-model="main.newProperty.bathrooms" ng-minlength="1" required />
  </div>
  <!-- error message! -->
  <div class="error" ng-messages="main.myForm.bathrooms.$error" ng-if="(main.submitted || main.myForm.bathrooms.$touched || main.myForm.bathrooms.$dirty)">
    <div ng-message="required">You did not enter a field</div>
    <div ng-message="minlength">Add at least 1 bathroom</div>
  </div>
<!-- ______________________________________________________________________ -->
  <div>
    <input id="price" type="text" name="price" placeholder="price" ng-model="main.newProperty.price" required />
  </div>
  <!-- error message! -->
  <div class="error" ng-messages="main.myForm.price.$error" ng-if="(main.submitted || main.myForm.price.$touched || main.myForm.price.$dirty)">
    <div ng-message="required">You did not enter a field</div>
    <div ng-message="minlength">The minimum is £100.000</div>
  </div>
<!-- ______________________________________________________________________ -->
  <div>
    <input id="floorarea" type="text" name="floorarea" placeholder="floorarea" ng-model="main.newProperty.floorarea" required />
  </div>
  <!-- error message! -->
  <div class="error" ng-messages="main.myForm.floorarea.$error" ng-if="(main.submitted || main.myForm.floorarea.$touched || main.myForm.floorarea.$dirty)">
    <div ng-message="required">You did not enter a field</div>
    <div ng-message="minlength">The minimum size is 100sqm</div>
  </div>
<!-- ______________________________________________________________________ -->
  <div>
    <input id="dateavailable" type="date" name="dateavailable" placeholder="dateavailable" 2017-10-11 ng-model="main.newProperty.dateavailable" ng-minlength="1" required />
  </div>
  <!-- error message! -->
  <div class="error" ng-messages="main.myForm.dateavailable.$error" ng-if="(main.submitted || main.myForm.dateavailable.$touched || main.myForm.dateavailable.$dirty)">
    <div ng-message="required">You did not enter a field</div>
    <div ng-message="minlength">Your field is too short</div>
  </div>
<!-- ______________________________________________________________________ -->
  <div>
    <input id="image" type="text" name="image" placeholder="image" ng-model="main.newProperty.image" ng-minlength="1" required />
  </div>
  <!-- error message! -->
  <div class="error" ng-messages="main.myForm.image.$error" ng-if="(main.submitted || main.myForm.image.$touched || main.myForm.image.$dirty)">
    <div ng-message="required">You did not enter a field</div>
    <div ng-message="minlength">Your field is too short</div>
  </div>
<!-- ______________________________________________________________________ -->

  <input type="submit"  value="Add Property">

</form>

</header>

<main ui-view></main>

<footer>
      <p>Made with <span>&hearts;</span> by Valerio</p>
    </footer>

  </body>
</html>
