<div id="containerAbout">

  <div class="firstSection">

  <section class="header">
    <div></div>
    <div></div>
    <div>
      <p>
        <span>Valerio Risuleo</span> <br>
        <span>Full Stack Developer</span> <br>
        <span>London, United Kingdom</span>
      </p>
      <hr>
      <p id="funny">“kinda smart , kinda geeky, kinda nerd, hysterically funny Web Developer who you would like to have in your team.”</p>
    </div>
  </section>

  <section class="personalSummary">
    <p>"An ambitious front-end developer  with a passion for online design, and who would like to join a team of like-minded developers. <br> I like creating logical and innovative design for websites and apps. As someone who takes responsibility for his own personal development, I’m constantly rating and upgrading my skills in order to be always competitive in the web development world. I have a natural attitude for problem solving, who has been useful in my previously jobs. In addition, I am flexible, detail oriented, motivated, hard working, and I got used to busy and stressful environments."</p>
  </section>

  <section class="experience">

    <div class="oldExperience">

      <div class="left"></div>
      <div class="right">
        <p>
          <span>Junior Web Developer</span> <br>
          <span>General Assembly</span> <br>
          <span>May 2017 – Present</span> <br>
          <span>London, United Kingdom</span>
        </p>

        <p>An intensive full-time programme, teaching the fundamentals of Web Development through practical application delivered by industry experts. Throughout the course, we have built on working practises around TDD, daily standup, pair programming and presenting code to ensure real-world application. The course has focused on the output of several projects both individual and team-led</p>
      </div>

    </div>

    <div class="oldExperience">

      <div class="left"></div>
      <div class="right">
        <p>
          <span>Co-Founder and Web Designer</span> <br>
          <span>V-Quadro</span> <br>
          <span>Oct 2012 – Dec 2014</span> <br>
          <span>Rome, Italy</span>
        </p>

        <p>Having been in this company for over two years, I have largely contributed in meeting corporate objectives through effective blogging, thereby driving traffic to our websites and increasing our web visitors. I am very passionate about creating web contents, and knowledgeable in HTML, CSS and SEO.</p>
      </div>

    </div>

    <div class="oldExperience">

      <div class="left"></div>
        <div class="right">
          <p>
            <span>Administrative Supervisor</span> <br>
            <span>STB Consulting s.r.l.</span> <br>
            <span>Jul 2007 – Jan 2009</span> <br>
            <span>Rome, Italy</span>
          </p>

          <p>Responsible for the overall administrative functions of the organization and often oversee the support of executives, as well. Supervising administrative staff, office managers and staff assistants, offering guidance and training while delegating work tasks and running payroll.</p>
        </div>
    </div>

  </section>

</div>

  <section class="education">

    <section class="experience">
      <div class="oldExperience">

        <div class="left"></div>
        <div class="right">
          <p>
            <span>General Assembly</span> <br>
            <span>TWO-DAY USER EXPERIENCE DESIGN BOOTCAMP</span> <br>
            <span>2017</span> <br>
            <span>London, United Kingdom</span>
          </p>

          <p>As technology changes and more media outlets compete for customers’ time, providing an enjoyable experience is critical to both attracting and keeping users. This class aims to demystify UX by giving a practical and simple introduction to what UX is while also explaining some of its core concepts of usability. This is a field that affects all areas of business — prepare to dip your toes into an ocean of new concepts and ideas that will enlighten your perspective on the human-computer interaction experience.</p>
        </div>

      </div>

      <div class="oldExperience">

        <div class="left"></div>
        <div class="right">
          <p>
            <span>Università degli Studi di Parma</span> <br>
            <span>Master's degree</span> <br>
            <span>Sales, Distribution, and Marketing Operations</span> <br>
            <span>2010 - 2012</span> <br>
            <span>Parma, Italy</span>
          </p>
        </div>

      </div>
      <div class="oldExperience">

        <div class="left"></div>
        <div class="right">
          <p>
            <span>Università degli Studi di Roma Tre</span> <br>
            <span>Bachelor's degree</span> <br>
            <span>Business Administration and Management</span> <br>
            <span>2002 - 2007</span> <br>
            <span>Roma, Italy</span>
          </p>
        </div>

      </div>

    </section>

    <section class="skills">

      <!-- <div class="skillsContainer"> -->

        <div id="test" class="progress-bar" data-percent="100%" data-label="HTML" ng-click="about.skillBar()">
          <span class="progress-bar__slide"></span>
          <span class="progress-bar__percent"></span>
        </div>

        <div class="progress-bar" data-label="CSS" data-percent="90%">
          <span class="progress-bar__slide"></span>
          <span class="progress-bar__percent"></span>
        </div>

        <div class="progress-bar" data-label="JAVASCRIPT" data-percent="80%">
          <span class="progress-bar__slide"></span>
          <span class="progress-bar__percent"></span>
        </div>

        <!-- <div class="progress-bar" data-label="JQUERY" data-percent="70%">
          <span class="progress-bar__slide"></span>
          <span class="progress-bar__percent"></span>
        </div>

        <div class="progress-bar" data-label="ANGULAR JS" data-percent="60%">
          <span class="progress-bar__slide"></span>
          <span class="progress-bar__percent"></span>
        </div>

        <div class="progress-bar" data-label="EXPRESS JS" data-percent="50%">
          <span class="progress-bar__slide"></span>
          <span class="progress-bar__percent"></span>
        </div>

        <div class="progress-bar" data-label="MONGO DB" data-percent="40%">
          <span class="progress-bar__slide"></span>
          <span class="progress-bar__percent"></span>
        </div>

        <div class="progress-bar" data-label="MONGOOSE" data-percent="30%">
          <span class="progress-bar__slide"></span>
          <span class="progress-bar__percent"></span>
        </div>

        <div class="progress-bar" data-label="RAILS" data-percent="20%">
          <span class="progress-bar__slide"></span>
          <span class="progress-bar__percent"></span>
        </div>

        <div class="progress-bar" data-label="RUBY" data-percent="10%">
          <span class="progress-bar__slide"></span>
          <span class="progress-bar__percent"></span>
        </div> -->

      <!-- </div> -->

    </section>

  </section>
</div>
