<!-- <div id="contact-container"> -->
<div id="contact-container" (window:resize)="contact.onResize($event)">

  <div class="container" ng-mouseover="contact.hoverIn($event)" ng-mouseleave="contact.hoverOut($event)" >
    <div class="card" id="classCard">

      <div class="front">
        <div id="hiddenback" ng-click="contact.contactClick()"></div>
      </div>

      <div class="back">
<!-- MOBILE NAV -->
        <header id="mobileNav" ng-class="{'show' : contact.mobileOpen}">
          <nav>
            <ul>
              <li><a ui-sref="about">About</a></li>
              <li><a ui-sref="portfolio">Portfolio</a></li>
              <li><a ui-sref="contact">Contact</a></li>
            </ul>
          </nav>
          <div id="child" ng-click="contact.mobileNavBar()"></div>
        </header>
<!-- END MOBILE NAV -->
        <div id="left">

          <section></section>

          <section>
            <div class="contact-cirle-container">
              <div class="mini-circle" id="black"></div>
            </div>

            <div class="contact-cirle-container">
              <div class="mini-circle" id="grey"></div>
            </div>

            <div class="contact-cirle-container">
              <div class="mini-circle" id="silver"></div>
            </div>
          </section>

          <section></section>

        </div>

        <div id="right">
          <section>
            <ul>
              <li>Valerio Risuleo</li>
              <li>Front-End Developer</li>
            </ul>
          </section>

          <section>
            <ul>
              <li><a href="https://github.com/valeriorisuleo">github/valeriorisuleo</a></li>
              <li><a href="https://www.linkedin.com/in/valerio-risuleo/">linkedin/valerio-risuleo</a></li>
              <li>www.valeriorisuleowebdeveloper.com</li>
            </ul>
          </section>

          <section>
            <ul>
              <li><a href="tel:07930226925">+44 7930 22.69.25</a></li>
              <li><a href="tel:00393332520570">+39 333 25.20.570</a></li>
              <li><a href="mailto:valerio.risuleo@gmail.com">valerio.risuleo@gmail.com</a></li>
            </ul>
          </section>
        </div>

      </div>


      </div>
    </div>
  </div>

</div>
