<div id="container"  ng-class="home.pageName">
  <div class="circleContainer">
    <!-- <div class="circleContainer" data-ng-init="home.onloadFun()"> -->
    <a id="wow"  ui-sref="portfolio">
      <div class="circle" ng-mouseover="home.hoverIn($event)" ng-mouseleave="home.hoverOut($event)"  ng-class="{'active' : home.menuOpen}" id="black" ng-click="home.onClick()"></div>
    </a>

    <a ui-sref="about">
      <div class="circle" ng-mouseover="home.hoverIn($event)" ng-mouseleave="home.hoverOut($event)" ng-class="{'active' : home.menuOpen}" id="grey"></div>
    </a>

    <a ui-sref="contact">
      <div class="circle" ng-mouseover="home.hoverIn($event)" ng-mouseleave="home.hoverOut($event)" ng-class="{'active' : home.menuOpen}" id="silver"></div>
    </a>
  </div>

  <div class="spanContainer">
    <span id="span2" class="hidden">Portfolio</span>
    <span id="span1" class="hidden">About</span>
    <span id="span3" class="hidden">Contact</span>
  </div>
</div>


<audio src="src/sounds/click.wav" id="clickMe"></audio>
<audio src="src/sounds/cursor.wav" id="cursor"></audio>
<audio src="src/sounds/beat.mp3" id="beat"></audio>
