<div id="project-container">
    <!-- <section id="project-header">
      <div>
        <div class="loading">
          <span>P</span>
          <span>o</span>
          <span>r</span>
          <span>t</span>
          <span>f</span>
          <span>o</span>
          <span>l</span>
          <span>i</span>
          <span>o</span>
        </div>
      </div>
      <div></div>
    </section> -->

    <section id="cards-projects">

<!-- ITUNES SCREENSAVER -->
    <div class="container" ng-mouseover="portfolio.hoverIn($event)" ng-mouseleave="portfolio.hoverOut($event)" >
      <div class="card">
        <div class="front" id="itunes"></div>
        <div class="back">
          <div class="back-container">
            <div>iTunes Artwork</div>

              <div>
                <ul>
                  <li>I've been always amazed by Apple's style. In particulaty I do love its <em>iTunes Artwork</em> (System Prefernces -> Desktop and Screen Saver) so as soon as I've completed my studies I asked to myself "Are you ready for this?" <br> This is a restful App with referenced models and css and jquery animation</li>

                  <li><em>jQuery, JavaScript, ES6, CSS, HTML, Ajax, JSON, Express, NODE.js, Mongoose, Mongo, CSS, Gulp</em></li>
                </ul>
            </div>

            <div>
              <a href="https://github.com/valeriorisuleo/small-projects/tree/master/itunes-screensaver"><img src="src/images/github.png"></a>
            </div>

          </div>

        </div>
      </div>
    </div>

<!-- WHO LET THE DOGS OUT ? -->
    <div class="container" ng-mouseover="portfolio.hoverIn($event)" ng-mouseleave="portfolio.hoverOut($event)" >
      <div class="card">
        <div class="front" id="gof"></div>
        <div class="back">
          <div class="back-container">
            <div>Who Let The Dogs Out?</div>

              <div>
                <ul>
                  <li>A RESTful app which allows dogs owners to find the nearest park for their  best friends and get all the info that they need to know about what kind of  dogs usually frequent that park.</li>

                  <li><em>jQuery, JavaScript, ES6, CSS, HTML, BCrypt, Ajax, JSON, Express, Web Google Maps API, NODE.js, Mongoose, Mongo, CSS, Bootstrap, Gulp</em></li>
                </ul>
            </div>

            <div>
              <a href="https://github.com/valeriorisuleo/Who-let-the-dogs-out"><img src="src/images/github.png"></a>
            </div>

          </div>

        </div>
      </div>
    </div>

<!-- STEAL MY DECK -->
    <div class="container" ng-mouseover="portfolio.hoverIn($event)" ng-mouseleave="portfolio.hoverOut($event)" >
      <div class="card">
        <div class="front" id="dog"></div>

        <div class="back">
          <div class="back-container">
            <div>Steal My Deck</div>

              <div>
                <ul>
                  <li>A deck of Italian cards consist of 40 cards (hand-crafted by your favourite designer for you!) divided into four suits. Neapolitan, Piacentine, Triestine, and Sicilian cards are divided into Coppe (Cups), Ori or Denari (Golds or Coins), Spade (Swords) and Bastoni (Clubs).</li>

                  <li><em>jQuery, JavaScript, CSS, HTML</em></li>
                </ul>
            </div>

            <div>
              <a href="https://github.com/valeriorisuleo/Steal-My-Deck"><img src="src/images/github.png"></a>
            </div>

          </div>

        </div>

      </div>
    </div>

<!-- SPEAKEASY -->
    <div class="container" ng-mouseover="portfolio.hoverIn($event)" ng-mouseleave="portfolio.hoverOut($event)" >
      <div class="card">
        <div class="front" id="speak"></div>
        <div class="back">
          <div class="back-container">
            <div>SpeakEasy</div>

              <div>
                <ul>
                  <li>An App that allows users to meet up and exchange skills and languages. This is a full stack app with full CRUD functionality as well as user authentication. It was built as a team of four where we worked in an agile environment. It is built with Node.js and Angular, styled with sass and deployed with Heroku. We also incorporated the GoogleMaps API, the GooglePlaces API and the NodeMailer API.</li>

                  <li><em>Angular, Angular Material Design, JavaScript, ES6, CSS, HTML, BCrypt, Ajax, JSON, Express, Web Google Maps API, NODE.js, NodeMailer, Mongoose, Mongo, CSS, Bootstrap, Gulp</em></li>
                </ul>
            </div>

            <div>
              <a href="https://github.com/1Guv/WDI-25-Project-3"><img src="src/images/github.png"></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container" ng-mouseover="portfolio.hoverIn($event)" ng-mouseleave="portfolio.hoverOut($event)" >
      <div class="card">
        <div class="front">3</div>
        <div class="back">
          <div class="back-container">
            <div>Steal My Deck</div>

              <div>
                <ul>
                  <li>A deck of Italian cards consist of 40 cards (hand-crafted by your favourite designer for you!) divided into four suits. Neapolitan, Piacentine, Triestine, and Sicilian cards are divided into Coppe (Cups), Ori or Denari (Golds or Coins), Spade (Swords) and Bastoni (Clubs).</li>

                  <li><em>jQuery, JavaScript, CSS, HTML</em></li>
                </ul>
            </div>

            <div>
              <a href="https://github.com/valeriorisuleo/Steal-My-Deck"><img src="src/images/github.png"></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container" ng-mouseover="portfolio.hoverIn($event)" ng-mouseleave="portfolio.hoverOut($event)" >
      <div class="card">
        <div class="front">3</div>
        <div class="back">
          <div class="back-container">
            <div>Steal My Deck</div>

              <div>
                <ul>
                  <li>A deck of Italian cards consist of 40 cards (hand-crafted by your favourite designer for you!) divided into four suits. Neapolitan, Piacentine, Triestine, and Sicilian cards are divided into Coppe (Cups), Ori or Denari (Golds or Coins), Spade (Swords) and Bastoni (Clubs).</li>

                  <li><em>jQuery, JavaScript, CSS, HTML</em></li>
                </ul>
            </div>

            <div>
              <a href="https://github.com/valeriorisuleo/Steal-My-Deck"><img src="src/images/github.png"></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container" ng-mouseover="portfolio.hoverIn($event)" ng-mouseleave="portfolio.hoverOut($event)" >
      <div class="card">
        <div class="front">3</div>
        <div class="back">
          <div class="back-container">
            <div>Steal My Deck</div>

              <div>
                <ul>
                  <li>A deck of Italian cards consist of 40 cards (hand-crafted by your favourite designer for you!) divided into four suits. Neapolitan, Piacentine, Triestine, and Sicilian cards are divided into Coppe (Cups), Ori or Denari (Golds or Coins), Spade (Swords) and Bastoni (Clubs).</li>

                  <li><em>jQuery, JavaScript, CSS, HTML</em></li>
                </ul>
            </div>

            <div>
              <a href="https://github.com/valeriorisuleo/Steal-My-Deck"><img src="src/images/github.png"></a>
            </div>

          </div>

        </div>
      </div>
    </div>

  </section>
  </div>
