<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Express Auth</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
</head>
<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="/">Users</a></li>
      </ul>
    </div>
  </div>
  <main class="row">
    <%- body %>
  </main>
</body>
</html>
