@import "~variables.scss";
@import "~griglia_risultati.scss";



.box-header{
  margin-bottom: 0 !important;
}

.box-tools{
  margin-bottom: 5%;
  div.input-group{
    width: 40vw;
    margin: auto;
    input{
      height: 40px;
      width: 40vw;
    }
    .input-group-btn{
      button{
        height: 40px;
      }
    }
  }
}
