@import "~variables.scss";

.box{
  margin-top: 3%;
  .box-header{
    // background-color: silver;
    margin-bottom: 5%;
    .box-tools{
      div.input-group{
        width: 40vw;
        margin: auto;
        input{
          // background-color: pink;
          height: 40px;
          width: 40vw;
        }
        .input-group-btn{
          button{
            height: 40px;
          }
        }
      }
    }
  }
}




th{
  &:last-child{
    text-align: center;
  }
}


td.btn-container{
  position: relative;
  div.btn-select{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: $blue;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    &#red{
      background-color: red;
    }
  }
}
