<div id="right-section-booty" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<!--  npm install progress-tracker - -save -->

<ul class="progress-tracker progress-tracker--word progress-tracker--word-center">
  <li class="progress-step is-complete">
    <span class="progress-marker"></span>
    <span class="progress-text">
      <h6 class="progress-title">Seleziona <br> Intermediario</h6>
    </span>
  </li>

  <li class="progress-step is-complete">
    <span class="progress-marker"></span>
    <span class="progress-text">
      <h6 class="progress-title">Seleziona <br> Capogruppo</h6>
    </span>
  </li>

  <li class="progress-step is-active">
    <span class="progress-marker"></span>
    <span class="progress-text">
      <h6 class="progress-title">Team <br> Ispettivo  </h6>
    </span>
  </li>

  <li class="progress-step">
    <span class="progress-marker"></span>
    <span class="progress-text">
      <h6 class="progress-title">Dati <br> Ispezione  </h6>
    </span>
  </li>
</ul>


<hr>
</div>
