<!DOCTYPE html>
<html ng-app="darkSkyApi">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>Dark Skies Api</title>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLmvIYuuszPZ6pNwmHh4o4YQi79H_g9K8"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLmvIYuuszPZ6pNwmHh4o4YQi79H_g9K8&libraries=places,geometry"></script>





    <!-- <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places&key=AIzaSyBLmvIYuuszPZ6pNwmHh4o4YQi79H_g9K8"></script> -->

    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller="DarkCtrl as darks">

    <!-- <google-map center="{ lat: 51.1, lng: -0.085 }"></google-map> -->
    <form>
      <input type="text" g-places-autocomplete ng-model="darks.newPlace" id="autocomplete">
      <!-- ng-model is binding the value of the input field to the value of the object 'vm.newPlace' in our controller -->

      <button ng-click="darks.meteo()">Get new location</button>
    </form>


    <div>
      <span class="title">Place:</span> {{ darks.sky.place().city }}
      <span class="title">temp:</span> {{ darks.sky.temperature() }}
    </div>

    <div>
      <span class="title">Time:</span> {{ darks.sky.time() | date: 'HH:mm:ss' }}
    </div>

    <hr>

  </body>
</html>
