<!DOCTYPE html>
<html ng-app="darkSkyApi">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>Dark Skies Api</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLmvIYuuszPZ6pNwmHh4o4YQi79H_g9K8&libraries=places,geometry"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <!-- <script src="/bower_components/ngmap/build/scripts/ng-map.min.js"></script> -->
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller="DarkCtrl as darks">

    <div class="container">

      <div class="row One">

        <!-- <div></div> -->

        <div id="middle">
          <div>
            <p id="large">{{ darks.sky.place().city }}</p>
            <p id="small">{{ darks.sky.currently.summary }}</p>
            <p id="larger">{{ darks.sky.temperature() }}</p>
          </div>
        </div>

        <div>
          <div id="getoday">
            <p>{{ darks.sky.time() | date: 'HH:mm' }}</p>
            <p>{{ darks.sky.getToDay() }}</p>
          </div>
        </div>

      </div>
<hr>


      <div class="row Two">
        <form>
          <input type="text" g-places-autocomplete ng-model="darks.newPlace" id="autocomplete">
          <button ng-click="darks.meteo()">Get Weather</button>
        </form>
      </div>

<hr>

      <div class="row Three">
        <li ng-repeat="day in darks.sky.whatever">
         {{ day.weekday }} <span>{{ (day.value -32) * 5/9 | number: 0 }} &#8451</span>
        </li>
      </div>

<hr>



  <!-- <hr>

    <li ng-repeat="day in darks.sky.whatever">
     {{ day.weekday }} {{ (day.value -32) * 5/9 | number: 0 }} &#8451
    </li>

    <section id="third">
      <li ng-repeat="days in darks.sky.daily.data">
        {{days.precipProbability * 100 | limitTo: 1}}%
      </li>
    </section>
<hr> -->
    <!-- ng-model is binding the value of the input field to the value of the object 'vm.newPlace' in our controller -->
</div>

<!-- _________________________________MAPPA_________________________________ -->
    <!-- <ng-map center="[{{darks.sky.latitude}}, {{darks.sky.longitude}}]" id="map" scrollwheel="false" zoom="12">
      <marker position="[{{darks.sky.latitude}}, {{darks.sky.longitude}}]"></marker>
    </ng-map> -->
  </body>
</html>
