*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


nav{
  height: 70px;
  background-color: aqua;
  input{
    line-height: 35px;
    width: 30%;
  }
}

main{
  height: 100vh;
  background-color: grey;
  #left{
    width: 30%;
    height: 100%;
    background-color: pink;
    float: left;
  }
  #right{
    width: 70%;
    height: 100%;
    background-color: silver;
    float: right;
    .top{
      height: 50%;
      background-color: red;
    }
    .bottom{
      height: 50%;
      background-color: green;
    }
  }
}
