<!-- <form ng-submit="propertiesNew.create()">
  <div>
    <input id="address" ng-model="propertiesNew.property.address" type="text" name="address" placeholder="address">
  </div>

  <div>
    <input id="postcode" ng-model="propertiesNew.property.postcode" type="text" name="postcode" placeholder="postcode">
  </div>

  <div>
    <input id="bedrooms" ng-model="propertiesNew.property.bedrooms" type="text" name="bedrooms" placeholder="bedrooms">
  </div>

  <div>
    <input id="bathrooms" ng-model="propertiesNew.property.bathrooms" type="text" name="bathrooms" placeholder="bathrooms">
  </div>

  <div>
    <input id="price" ng-model="propertiesNew.property.askingPrice" type="text" name="price" placeholder="price">
  </div>

  <div>
    <input id="floorarea" ng-model="propertiesNew.property.floorArea" type="text" name="floorarea" placeholder="floor area">
  </div>

  <div>
    <input id="dateavailable" ng-model="propertiesNew.property.dateAvailable" type="date" name="dateavailable" value="2017-10-11" placeholder="date available">
  </div>

  <div>
    <input id="image" ng-model="propertiesNew.property.image" type="text" name="image" placeholder="image">
  </div>

  <input type="submit" value="Add Property">
</form> -->
