@import "~variables.scss";
@import "~corpo_aside.scss";
@import "~landing_stampa.scss";



section.col-md-8{
  padding-left: 3%;
  .row{
    .col-md-6{
      background-color: pink;
      ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
          font-size: 16px;
          margin-bottom: 2%;
          padding-left: 5%;
          color: $blue;
          span{
            font-weight: bold;
          }
          &:first-child{
            padding: 10% 0 0 0;
            font-size: 18px;
            font-weight: bold;
            color: $darkBlue;
          }
        }
      }
    }
  }
}

aside.col-md-4{
  background-color: grey;
  height: 200px;
}
