
<ngb-tabset class="nav nav-tabs">

  <ngb-tab title="Informazioni">
    <ng-template ngbTabContent>

      <div class="row">

        <section class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <ul>
                <li>Intermediario</li>
                <li>Intesa San Paolo</li>
                <li>Filiale Piazza Dante</li>
                <li>Piazza Dante 54, 10120</li>
                <li>02.2010345</li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <ul>
                <li>Ispezione</li>
                <li>Dal 01/04/2017 - In corso</li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <ul>
                <li>Gruppo Ispettivo</li>
                <li><span>Capo Gruppo</span>: Giuseppe Occhio</li>
                <li><span>Ispettori</span>: Manuel Fantoni, Cristina D'avena, <br> Mark Landers</li>
              </ul>
            </div>
          </div>




        </section>

        <aside class="col-md-4">
          <h3>Subscribe to our newsletter</h3>
        </aside>



      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Documenti">
    <ng-template ngbTabContent>
      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
      master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
      dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
      iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
    </ng-template>
  </ngb-tab>


  <ngb-tab title="Indicatori" [disabled]="true">
    <ng-template ngbTabContent></ng-template>
  </ngb-tab>

  <ngb-tab title="Rilievi" [disabled]="true">
    <ng-template ngbTabContent></ng-template>
  </ngb-tab>

  <ngb-tab title="Audit Trail" [disabled]="true">
    <ng-template ngbTabContent></ng-template>
  </ngb-tab>

  <ngb-tab title="Visibilità" [disabled]="true">
    <ng-template ngbTabContent></ng-template>
  </ngb-tab>

  <ngb-tab title="Log Accessi" [disabled]="true">
    <ng-template ngbTabContent></ng-template>
  </ngb-tab>




</ngb-tabset>
