@import "~variables.scss";
@import "~corpo_aside.scss";
@import "~landing_stampa.scss";

section.col-md-12{
  .row{
    padding-top: 2%;
    .info{
      height: 100%;
      width: 80%;
      // background-color: silver;
      float: left;
      ul{
        list-style: none;
        li{
          color: $blue;
          font-size: 16px;
          padding-left: 3%;
          span{
            font-weight: bold;
          }
          &:first-child{
            font-weight: bold;
            color: $darkBlue;
            padding: 0;
          }
        }
      }
    }
    .edit-form{
      height: 100%;
      width: 20%;
      // background-color: pink;
      float: right;
      .fas{
        font-size: 30px;
        color: $darkBlue;
        cursor: pointer;
      }
    }
  }
}
