<div  class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main right-section-booty">

  <app-progress-tracker></app-progress-tracker>

  <!-- <div class="col-xs-12"> -->
  <div class="container">
    <div class="box">
      <div class="box-header">

        <div class="box-tools">

          <div class="input-group input-group-sm">
            <input type="text" name="table_search" class="form-control pull-left" placeholder="Search">

            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>

          </div>
        </div>

      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th>Nome Capogruppo</th>
              <th>Allocazione Organizzativa</th>
              <th>Cid</th>
              <th>Seleziona</th>
            </tr>
            <tr>
              <td>John Doe</td>
              <td>Bacon</td>
              <td>03069</td>
              <td>
                <button class="btn-sm btn-primary  btn-block">Seleziona</button>
              </td>

            </tr>
            <tr>
              <td>Alexander Pierce</td>
              <td>Bacon</td>
              <td>03069</td>
              <td>
                <button class="btn-sm btn-primary  btn-block">Seleziona</button>
              </td>

            </tr>
            <tr>
              <td>Bob Doe</td>
              <td>Bacon</td>
              <td>03069</td>
              <td>
                <button class="btn-sm btn-success btn-block">Seleziona</button>
              </td>

            </tr>
            <tr>
              <td>Bob Doe</td>
              <td>Bacon</td>
              <td>03069</td>
              <td>
                <button class="btn-sm btn-success btn-block">Seleziona</button>
              </td>

            </tr>
            <tr>
              <td>Bob Doe</td>
              <td>Bacon</td>
              <td>03069</td>
              <td>
                <button class="btn-sm btn-success btn-block">Seleziona</button>
              </td>

            </tr>
            <tr>
              <td>Bob Doe</td>
              <td>Bacon</td>
              <td>03069</td>
              <td>
                <button class="btn-sm btn-success btn-block">Seleziona</button>
              </td>

            </tr>
            <tr>
              <td>Bob Doe</td>
              <td>Bacon</td>
              <td>03069</td>
              <td>
                <button class="btn-sm btn-success btn-block">Seleziona</button>
              </td>

            </tr>
            <tr>
              <td>Bob Doe</td>
              <td>Bacon</td>
              <td>03069</td>
              <td>
                <button class="btn-sm btn-success btn-block">Seleziona</button>
              </td>

            </tr>
            <tr>
              <td>Mike Doe</td>
              <td>Bacon</td>
              <td>03069</td>
              <td>
                <button class="btn-sm btn-primary  btn-block">Seleziona</button>
              </td>

            </tr>
          </tbody>
        </table>
        </div>
        <!-- /.box-body -->
      </div>
      <nav aria-label="...">
        <ul class="pager">
          <li class="next disabled"><a href="#"><span aria-hidden="true">&rarr;</span> Annulla</a></li>

          <li class="previous"><a href="#">Torna alla Selezione dell'Intermediario<span aria-hidden="true">&larr;</span></a></li>

          <li class="next"><a [routerLink]="['/team']">Salta Questo Passo<span aria-hidden="true"></span></a></li>

        </ul>
      </nav>
    </div>


  </div>
