<div class="container-fluid mb-5">
    <div class="row">
        <section class="col-lg-8">
            <gmaps
            [locationsData]="locationsData"
            (snackHighlights)="snackHighlights($event)">
        </gmaps> 
        </section>

        <aside class="col-lg-4 text-center">
            <h5>How many snack Newton needs ?</h5>

            <p>Newton will need <span>{{ snacksInMyPocket }}</span> snacks to cover <span>{{ distance }}</span> mt</p>
            <p *ngIf="count < 0">He has also enough strenght left for <span>{{ - count }}</span> mt walk uphill!</p>

            <div>
                <button (click)="takeMeHome()" class="btn btn-primary mt-5">Go Back to Routes List</button>
            </div>
            <div>
                <button (click)="currentLocation()" class="btn btn-primary mt-5">Where Am I?</button>
            </div>
        </aside>
    </div>
</div>