<div class="new">
  <form method="POST" action="/">

   <div>
     <label for="album">Album Title</label>
     <input type="text" name="album" id="album">
   </div>

   <div>
     <label for="artist">Artist</label>
     <input type="text" name="artist" id="artist">
    </div>

    <div>
      <label for="genre">Genre</label>
      <input type="text" name="genre" id="genre">
    </div>

    <div>
      <label for="image">Album Cover</label>
      <input type="text" name="image" id="image">
    </div>

   <button class="myButton">Create</button>
 </div>

 </form>
