* {
  box-sizing: border-box;
  font-family: 'Electrolize', sans-serif;
}

body{
  background-color: orange;
}

main{
  max-width: 960px;
  background-image: url('../images/back.jpg');
  /*filter:blur(2px);*/
  margin: auto;
  margin-top: 1%;
  border-radius: 9px;
  border: 25px solid #373737;

}

#game{
  width: 650px;
  height: 650px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  padding: 1%;
}

#game div.big{
  width: 100%;
  height: 33.33%;
}

div.small{
  height: 100%;
  width: 33.33%;
  border: 1px solid black;
  float: right;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
}

div.small p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  padding: 118px;
}

div.small#scissors p{
  top: 55%;
  padding: 90px;
}

div.small#lizard p{
  top: 56%;
}

div#scissors.small {
  background-color: silver;
  margin-right: 33.33%;
  background-image: url('../images/leonard.jpg');
}

div#paper.small {
  background-color: white;
  background-image: url('../images/raj.jpg');
}

div#rock.small {
  background-color: brown;
  margin-right: 33.33%;
  background-image: url('../images/shelly.jpg');
}

div#spock.small {
  background-color: red;
  margin-right: 12%;
  display: none;
  background-image: url('../images/spock.jpg');
}

div#lizard.small {
  background-color: green;
  margin-right: 10%;
  display: none;
  background-image: url('../images/wall.jpg');
}

footer{
  max-width: 960px;
  margin: auto;
  margin-top: 1%;
  border-radius: 9px;
  border: 25px solid silver;
  padding: 20px;
  background-color: #373737;
}

footer p{
  font-size: 26px;
  color: orange;
}

div.reset{
  width: 28%;
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 9px;
  background-color: orange;
}
