<!DOCTYPE html>
<html ng-app="coddio">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <base href="/">
    <title></title>
    <link rel="stylesheet" href="dist/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <script src="dist/js/app.js" charset="utf-8"></script>
    <!-- <script src="js/app.js" charset="utf-8"></script> -->
  </head>
  <body ng-controller="MainCtrl as main" ng-class="main.pageName">

<!-- BURGER MENU -->
    <a href="/" ng-click="main.reload()" id="burger">
      <div class="burger-menu" ng-show="main.pageName !== 'index'"></div>
    </a>

<!-- MOBILE NAVBAR -->
    <header id="mobileNav" ng-class="{'show' : main.mobileOpen}" ng-hide="main.pageName === 'index' || main.pageName === 'contact'">
    <!-- <header id="mobileNav" ng-class="{'show' : main.mobileOpen}" ng-hide="(main.pageName === 'index') || (main.pageName === 'contact')"> -->
      <nav>
        <ul>
          <li><a ui-sref="about">About</a></li>
          <li><a ui-sref="portfolio">Portfolio</a></li>
          <li><a ui-sref="contact">Contact</a></li>
        </ul>
      </nav>

      <div id="child" ng-click="main.mobileNavBar($event)"></div>

    </header>

<!-- NAVBAR -->
    <main ui-view>
      <div id="container">
        <div class="circleContainer">
          <!-- <div class="circleContainer" data-ng-init="main.onloadFun()"> -->
          <a id="wow"  ui-sref="portfolio">
            <div class="circle" ng-mouseover="main.hoverIn($event)" ng-mouseleave="main.hoverOut($event)"  ng-class="{'active' : main.menuOpen}" id="black" ng-click="main.onClick()"></div>
          </a>

          <a ui-sref="about">
            <div class="circle" ng-mouseover="main.hoverIn($event)" ng-mouseleave="main.hoverOut($event)" ng-class="{'active' : main.menuOpen}" id="grey"></div>
          </a>

          <a ui-sref="contact">
            <div class="circle" ng-mouseover="main.hoverIn($event)" ng-mouseleave="main.hoverOut($event)" ng-class="{'active' : main.menuOpen}" id="silver"></div>
          </a>
        </div>

        <div class="spanContainer">
          <span id="span2" class="hidden">Portfolio</span>
          <span id="span1" class="hidden">About</span>
          <span id="span3" class="hidden">Contact</span>
        </div>
      </div>


      <audio src="src/sounds/click.wav" id="clickMe"></audio>
      <audio src="src/sounds/cursor.wav" id="cursor"></audio>
      <audio src="src/sounds/beat.mp3" id="beat"></audio>

    </main>

    <a href="/" ng-click="main.reload()">
      <div id="bottom" class="burger-menu" ng-hide="main.pageName === 'contact' || main.pageName === 'index'"></div>
    </a>

    <div class="footContainer" ng-hide="main.pageName === 'contact' || main.pageName === 'index'">
      <footer>
      <p>Made With <span>&hearts;</span></p>
    </footer>
  </div>


  </body>
</html>
