<div id="porfolioContainer">

  <div class="projectContainer" id="firstproject">

    <div class="project-left">
      <div>
        <p>Steal My Deck</p>
        <hr>
        <p> A deck of Italian cards consist of 40 cards (hand-crafted by your favourite designer for you!) divided into four suits. Neapolitan, Piacentine, Triestine and Sicilian cards are divided into Coppe (Cups), Ori or Denari (Golds or Coins), Spade (Swords) and Bastoni (Clubs).
        </p>
      </div>

      <div></div>

      <div>
        <a href="https://github.com/valeriorisuleo/Steal-My-Deck"><div class='myButt one'>
          <div class='insider'></div>
          view project
        </div></a>
      </div>

    </div>

    <div class="project-right"></div>

  </div>

<!-- WHO LET THE DOGS OUT -->
  <div class="projectContainer">

    <div class="project-left">
      <div>
        <p>Who Let The Dogs Out?</p>
        <hr>
        <p> A RESTful app which allows dogs owners to find the nearest park for their best friends and get all the info that they need to know about what kind of dogs usually frequent that park.
        </p>
      </div>

      <div></div>

      <div>
        <a href="https://github.com/valeriorisuleo/Who-let-the-dogs-out"><div class='myButt one'>
          <div class='insider'></div>
          view project
        </div></a>
      </div>

    </div>

    <div class="project-right" id="dog"></div>

  </div>

<!-- SPEAKEASY -->
  <div class="projectContainer">

    <div class="project-left">
      <div>
        <p>SpeakEasy</p>
        <hr>
        <p> An App that allows users to meet up and exchange skills and languages. This is a full stack app with full CRUD functionality as well as user authentication. <br>
        It was built as a team of four where we worked in an agile environment.
        </p>
      </div>

      <div></div>

      <div>
        <a href="https://github.com/1Guv/WDI-25-Project-3"><div class='myButt one'>
          <div class='insider'></div>
          view project
        </div></a>
      </div>

    </div>

    <div class="project-right" id="speak"></div>

  </div>

  <!-- ITUNES -->
    <div class="projectContainer">

      <div class="project-left">
        <div class="toolong">
          <p>iTunes Artwork</p>
          <hr>
          <p>This is a restful App with 2 referenced models and css and jQuery animation.<br>
          Only logged in users can create a new resource and can edit or delete it. <br>
          The user who created the resource is stored inside the resource as a reference and only him is able to see the edit or delete buttons. <br>
          When a resouce is displayed on the page, the username of the user who created the post is printed out.</p>
        </div>

        <div></div>

        <div>
          <a href="https://github.com/valeriorisuleo/small-projects/tree/master/darkskies"><div class='myButt one'>
            <div class='insider'></div>
            view project
          </div></a>
        </div>

      </div>

      <div class="project-right" id="itunes"></div>

    </div>

    <!-- DARKSKY -->
      <div class="projectContainer">

        <div class="project-left">
          <div>
            <p>Dark Skies</p>
            <hr>
            <p> An App that consumes a public API: Dark Skies. I started by having a look at the documentation and testing some of the API's endpoints with insomnia. I made a proxy request to a public API using request-promise and I've consumed the data with an Angular App.
            </p>
          </div>

          <div></div>

          <div>
            <a href="https://github.com/valeriorisuleo/small-projects/tree/master/darkskies"><div class='myButt one'>
              <div class='insider'></div>
              view project
            </div></a>
          </div>

        </div>

        <div class="project-right" id="dark"></div>

      </div>

    <!-- HOUSE -->
      <div class="projectContainer">

        <div class="project-left">
          <div class="toolong">
            <p>MTv Cribs</p>
            <hr>
            <p> A fully working RESTful App. <br>I have build an Express API for the back-end and I've consumed the data with AngularJs. <br>Once I have built out the API, I've test it with insomnia. I used ng-class to apply classes to elements to change their styling under specific circumstances, created a custom carousel with CSS keyframes and I added frontend form validation with ngMessages.
            </p>
          </div>

          <div></div>

          <div>
            <a href="https://github.com/valeriorisuleo/small-projects/tree/master/ngmsg-ngclass"><div class='myButt one'>
              <div class='insider'></div>
              view project
            </div></a>
          </div>

        </div>

        <div class="project-right" id="house"></div>

      </div>

<!--  Of Course You're Still Unemployed, Take a Look at Yourself, You Dumb Developer  -->
  <div class="projectContainer">

    <div class="project-left">
      <div class="toolong">
        <p id="dumbtitle">OCYSUTLYYDD</p>
        <hr>
        <p> A blog platform for developers to help users to share their knowledge in 4 different languages. This project was built with Rails back-end API and an AngularJs fornt-end. I also incorporated Mark Down a lightweight markup language with plain text formatting syntax designed to convert to HTML and many other formats.
        </p>
      </div>

      <div></div>

      <div>
        <a href="https://github.com/valeriorisuleo/finalproject-frontend"><div class='myButt one'>
          <div class='insider'></div>
          view project
        </div></a>
      </div>

    </div>

    <div class="project-right" id="dumb"></div>

  </div>

</div>
