<!DOCTYPE html>
<html ng-app="vlocityTest">
  <head>
    <meta charset="utf-8">
    <title>vlocity-code-challenge</title>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller="MainCtrl as main">
    <nav>
      <input type="text" class="search" ng-model="main.q" placeholder="Search...">
    </nav>

    <main>
      <div id="left">
        <li  ng-repeat="contact in main.filtered">
        <!-- <li  ng-repeat="contact in main.all | filter: {name: main.q}"> -->
          {{ contact.name | uppercase }}
        </li>
      </div>
      <div id="right">
        <div class="top">
        </div>
        <div class="bottom"></div>
      </div>
    </main>
  </body>
</html>
