<div  class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main right-section-booty cdi">


  <app-progress-tracker></app-progress-tracker>

  <div class="container cdi">
    <!-- <div class="col-md-12">
      <div class="space"></div>
    </div> -->

    <div class="col-md-6">
      <div class="box box-danger">
        <div class="box-header">
          <h3 class="box-title">Conferma Dati Ispezione</h3>
        </div>
        <div class="box-body">
          <!-- Date dd/mm/yyyy -->
          <div class="form-group">
            <label>Data Inizio Ispezione:</label>

            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
            </div>
            <!-- /.input group -->
          </div>
          <!-- /.form group -->


          <div class="form-group">
            <label>Tipologia Ispezione</label>
            <select class="form-control">
              <option>option 1</option>
              <option>option 2</option>
              <option>option 3</option>
              <option>option 4</option>
              <option>option 5</option>
            </select>
          </div>


          <div class="form-check">
            <label class="form-check-label" for="exampleCheck1">Riservatissimo</label>
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
          </div>



        </div>
        <!-- /.box-body -->
      </div>
    </div>




    <div class="col-md-6">
      <div class="box box-danger">
        <div class="box-header">
          <h3 class="box-title">Conferma Dati Ispezione</h3>
        </div>
        <div class="box-body">
          <!-- Date dd/mm/yyyy -->
          <div class="form-group">
            <label>Data Fine Ispezione:</label>

            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
            </div>
            <!-- /.input group -->
          </div>
          <!-- /.form group -->



        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>

  <div class="container">
    <button type="submit" class="btn-lg btn-primary pull-right">Crea Dossier</button>
  </div>



</div>
