*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.center-styles{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


$btnColor: #FF00FF;


main{
  header{
    height: 100vh;
    // background-color: silver;
    div{
      &#nails-header{
        height: 60%;
        background-color: red;
        background-image: url('/images/nails-header.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      &#info{
        height: 40%;
        div{
          &:first-child{
            height: 50%;
            position: relative;
            p{
              text-align: center;
              // line-height: 25px;
              @extend .center-styles;
            }
          }
        }
        div#icons{
          height: 50%;
          padding: 1%;
          img{
            margin: auto;
            display: block;
            width: 60px;
            height: 60px;
            cursor: pointer;
            @extend .center-styles;
          }
          div{
            float: right;
            height: 100%;
            width: 14.2%;
            // border: 1px solid black;
            &:nth-child(2){
              position: relative;
            }
            &:nth-child(3){
              position: relative;
            }
            &:nth-child(4){
              position: relative;
            }
            &:nth-child(5){
              position: relative;
            }
            &:nth-child(6){
              position: relative;
            }
          }
        }
      }
    }
  }
  section#brief{
    height: 300px;
    background-color: silver;
    background-image: url('/images/intro-bg.jpg');
    background-size: cover;
    background-position: center;
    div{
      &:nth-child(1){
        position: relative;
        height: 50%;
        h3{
          @extend .center-styles;
          text-transform: uppercase;
          border-top: 1px solid teal;
          padding-top: 1%;
          letter-spacing: 1px;
          margin-bottom: 5%;
        }
      }
      &:nth-child(2){
        position: relative;
        height: 50%;
        p{
          position: absolute;
          top: 20%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          width: 60%;
        }
      }
    }
  }
  section#approach{
    height: 600px;
    background-image: url('/images/bg-first-section.jpg');
    background-position: center;
    background-size: cover;
    div{
      &:nth-child(1){
        width: 35%;
        height: 100%;
        // background-color: grey;
        float: left;
        position: relative;
        .wrapper{
          @extend .center-styles;
          width: 90%;
          margin-left: 5%;
          // background-color: red;
          h3{
            color: #FFF;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-top: 25%;
            margin-bottom: 10%;
          }
          h3:after{
            content:'';
            position: absolute;
            // bottom: 0;
            height: 1px;
            width: 8.5em;
            background-color: teal;
            right: 0;
            left: 0;
            top: 12%;
          }
          p{
            color: #FFF;
            font-size: 14px;
            margin-bottom: 5%;
            line-height: 25px;
          }
        }
      }
      &:nth-child(2){
        width: 65%;
        height: 100%;
        float: right;
        position: relative;
        div.overlay{
          width: 85%;
          height: 70%;
          background-image: url('/images/screenshot.jpg');
          background-position: top;
          background-size: cover;
          background-repeat: no-repeat;
          box-shadow: 0 15px 15px -8px #444;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  section#most-loved{
    height: 600px;
    padding: 5%;
    #silver{
      border: 2px solid silver;
      padding: 3%;
      padding-top: 0;
      h2{
        text-align: center;
        border-bottom: 1px solid silver;
        padding-bottom: 1%;
        margin-bottom: 3%;
      }
    }
    img{
      height: 330px;
      width: 240px;
    }
    #make-info{
      width: 250px;
      margin: auto;
      margin-bottom: 2%;
    }
    li.ng-scope{
      display: none;
    }
    .wrapper {
      width: 300px;
      margin: 0 auto;
      padding: 100px 0 0;
    }

    .button {
      border-radius: 5px;
      margin: auto;
      width: 135px;
      height: 40px;
      background: linear-gradient(to right, darken($btnColor, 10%) 50%, $btnColor 50%) repeat scroll right bottom / 200% 100% rgba(0, 0, 0, 0);
      text-align: center;
      transition: background 350ms ease-in-out;
      &:hover {
        background-position: left bottom;
      }
      a {
        display: block;
        font-family: 'Pacifico', sans-serif;
        color: #FFFFFF;
        font-size: 1em;
        padding: 1em;
        text-decoration: none;
      }
    }
  }
}
