*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.center-styles{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


main{
  header{
    height: 100vh;
    // background-color: silver;
    div{
      &#nails-header{
        height: 60%;
        background-color: red;
        background-image: url('/images/nails-header.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      &#info{
        height: 40%;
        div{
          &:first-child{
            height: 50%;
            position: relative;
            p{
              text-align: center;
              // line-height: 25px;
              @extend .center-styles;
            }
          }
        }
        div#icons{
          height: 50%;
          padding: 1%;
          img{
            margin: auto;
            display: block;
            width: 60px;
            height: 60px;
            cursor: pointer;
            @extend .center-styles;
          }
          div{
            float: right;
            height: 100%;
            width: 14.2%;
            // border: 1px solid black;
            &:nth-child(2){
              position: relative;
            }
            &:nth-child(3){
              position: relative;
            }
            &:nth-child(4){
              position: relative;
            }
            &:nth-child(5){
              position: relative;
            }
            &:nth-child(6){
              position: relative;
            }
          }
        }
      }
    }
  }
  section#brief{
    height: 300px;
    background-color: silver;
    background-image: url('/images/intro-bg.jpg');
    background-size: cover;
    background-position: center;
    div{
      &:nth-child(1){
        position: relative;
        height: 50%;
        // background-color: red;
        h3{
          @extend .center-styles;
          text-transform: uppercase;
          border-top: 1px solid green;
          padding-top: 1%;
        }
      }
      &:nth-child(2){
        position: relative;
        height: 50%;
        p{
          position: absolute;
          top: 20%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          width: 60%;
        }
      }
    }
  }
}
