<div  class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main right-section-booty">
  <!-- <div class="jumbotron">
    <div class="container">
      <h1>Lista Dossier</h1>
    </div>
  </div> -->


  <div class="main-content">
    <div class="row placeholders">
      <div class="col-md-4 col-sm-3 placeholder">
        <img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkSF3/HwADlgIVeq44HgAAAABJRU5ErkJggg==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Opzione 01</h4>
        <span class="text-muted">Something else</span>
      </div>

      <a [routerLink]="['/progress']"><div class="col-md-4 col-sm-3 placeholder">
        <img src="data:image/gif;base64, iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mO88PzzfwAI5AOr2dGD7wAAAABJRU5ErkJggg==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Opzione 02</h4>
        <span class="text-muted">Something else</span>
      </div></a>

      <div class="col-md-4 col-sm-3 placeholder">
        <img src="data:image/gif;base64, iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mN89h8AAtEB5wrzxXEAAAAASUVORK5CYII=" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Opzione 03</h4>
        <span class="text-muted">Something else</span>
      </div>

    </div>
  </div>

</div>
