@import "~corpo_aside.scss";
@import "~variables.scss";

.right-section-booty{
  position: relative;
  height: 100vh;
}

.main-content{
  @extend .centered-styles;
  height: 61vh;
  width: 100%;
  .row{
    @extend .centered-styles;
    width: 100%;
    div{
      &:nth-child(2){
        cursor: pointer;
      }
    }
  }
}
