<ng-container [formGroup]="formGroup">
    <div class="form-group">
        <label [for]="name">{{ name | titlecase }}</label>
        <input [formControlName]="name" type="text" [name]="name" class="form-control">
    </div>
    <!-- Validation error messages -->
    <div *ngIf="input.touched && input.invalid" class="alert alert-danger">
        <div *ngIf="input.errors.required">{{ name }} is required!</div>
        <div *ngIf="input.errors.minlength">Minlength is {{ input.errors.minlength.requiredLength }}!</div>
        <div *ngIf="input.errors.urlValidator">Must be a valid url!</div>
        <div *ngIf="input.errors.isUrlReal">Url doesn't exist!</div>
    </div>
</ng-container>